/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&family=Poppins:wght@400;600;700;800&display=swap');
/* Basic reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 
/* Brand v1.0.1  08/04/2023 */
:root {
  --button-verde: var(--color-verde);
  --button-verde-hover: #24c742;
  --button-azul:var(--color-azul);
  --button-azul-hover:#1262ad;
  --color-azul: #1E93FF;
  --color-principal: #1F262E;
  --color-dark-gray: #242B33;
  --color-light-gray: #575C62;
  --color-verde: #40FF62;
  --sombra: 0 4px 11px rgba(0, 128, 96, 0.35);
  --mulish-font: 'Mulish',sans-serif;
}

body {
    background-color:var(--color-principal);
    color: var(--color-principal);
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    line-height: 1.6;
  }

.bg-navy{background-color: var(--color-principal);}
.bg-dark-gray{background-color: var(--color-dark-gray);}
.bg-verde{background-color: var(--color-verde);}

.btn-ok{
    color: var(--color-principal);
    background-color: var(--color-verde);
    border: none;
    font-weight: 900;
    flex-shrink: 0;
    text-transform: uppercase;
    border-radius: 8px;
    display: inline-block;
    width: fit-content;
}
.btn-control-calendar{
    color: white;
    border: 1px solid var(--button-verde-hover);
    vertical-align: middle;
}
.btn-control-calendar:hover, .btn-control-calendar:focus {
    color: whitesmoke;
    border: 1px solid var(--color-verde);
    background-color: var(--color-light-gray);
    vertical-align: middle;
}

.breadcrumb-form{
    box-sizing: content-box;
}
.breadcrumb-form ul{
    gap: 10px!important;
}
.breadcrumb-form .list-item{
    width: 40px;
    height: 16px;
    background-color: #7f7f7f;
    border-radius: 2px;
    display: inline-block;
}
.breadcrumb-form .list-item.active{
    background-color: var(--color-verde);
}

.btn-ok:hover , .btn-ok:active  {
    background-color: var(--button-verde-hover);
} 

.calendar-widget{
    font-size: 16px;
}

.color-verde{
    color: var(--color-verde);
}
.font-poppins{
    font-family: 'Poppins';    
} 
 
 .custom-radio {
    display: block;
    color: white;
    margin: 5px;
}
.custom-card label{
    cursor: pointer;
}
.custom-card label h4{         
    min-height: 72px;
    
    text-align: center;    
    font-weight: 700;
    align-items: center;
    line-height: inherit;
    margin-bottom: 0;
    color: white;
    font-size: 20px;

    padding: 8px 8px;
    min-height: fit-content;
    font-size: 18px;
    border: none;
    background-color: var(--color-light-gray);
    border-radius: 0 0 6px 6px;

    transition: all ease .2s;
} 
/* Estilo para el radio button seleccionado */
.custom-card input[type="radio"]:checked + label h4{
    background-color: var(--color-verde); 
    color: var(--color-principal);
    border-color: var(--color-verde);
}

.custom-radio label{
    cursor: pointer;
    background-color: var(--color-dark-gray);
    border-radius: 6px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: inherit;
    transition: all ease 0.3s;
    padding: 2px 20px;
    width: 100%;
}
.custom-radio label:hover{
    background-color: var(--color-light-gray);
}
/* Estilo para el radio button oculto */
.custom-radio input[type="radio"] , .custom-card input[type="radio"]{
    display: none;
}

/* Estilo para el radio button seleccionado */
.custom-radio input[type="radio"]:checked + label {
    background-color: var(--color-verde);
    border-color: var(--color-verde);
    color: var(--color-principal);
}
 
.custom-radio input[type="radio"] + label svg path{
    fill:white;
}
.custom-radio input[type="radio"] + label svg rect{
    stroke: white;
}

.custom-radio input[type="radio"]:checked + label svg path{
    fill: black;
}
.custom-radio input[type="radio"]:checked + label svg rect{
    stroke: black; 
}

.custom-text-input{
    max-width: 420px;
}
.custom-text-input, .custom-text-input:focus{
    background-color: var(--color-principal);
}
.custom-text-input:focus{
    box-shadow: 0 0 0 0.25rem var(--button-verde-hover);
    outline-color: var(--color-verde);
}
.custom-text-input::placeholder{
    color: rgba(255, 255, 255, .40);
}
.custom-text-input.placeholder-dark::placeholder{
    color: rgba(1, 1, 1, .40);
}
header{
    background: rgba(31, 38, 46, 0.70);
    position: relative;
    z-index: 9;
}
.image-full{
    height: 100vh;
    margin-top: -71px;
}
.image-full.step3{
    background: url(../img/step3-bg-image.png) center/cover;
}
.image-full.step5{
    background: url(../img/step5-bg-image.png) center/cover;
}
.image-full.step6{
    background: url(../img/step6-bg-image.png) center/cover;
}
/* Media query para pantallas grandes (desktop) */
@media screen and (min-width: 768px) {
    .custom-radio label {
        font-size: 30px; /* Tamaño de fuente para desktop */
    }    
    .custom-card label h4{
        padding: 8px 8px;
        min-height: fit-content;
        font-size: 18px;
        border: none;
        background-color: var(--color-light-gray);
        border-radius: 0 0 6px 6px;
    }
    .custom-card label>img{ 
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
        margin:0;
        border-radius: 6px 6px 0 0;
        filter: grayscale(99%);
    }
    .custom-card input[type="radio"]:checked + label>img{
        filter: grayscale(0%);
    }
}