/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&family=Poppins:wght@400;600;700;800&display=swap');
/* Basic reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 
/* Brand v1.0.1  08/04/2023 */
:root {
  --button-verde: var(--color-verde);
  --button-verde-hover: #24c742;
  --button-azul:var(--color-azul);
  --button-azul-hover:#1262ad;
  --color-azul: #1E93FF;
  --color-principal: #1F262E;
  --color-dark-gray: #242B33;
  --color-light-gray: #575C62;
  --color-verde: #40FF62;
  --sombra: 0 4px 11px rgba(0, 128, 96, 0.35);
  --mulish-font: 'Mulish',sans-serif;
}

body {
    background-color:var(--color-principal);
    color: var(--color-principal);
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    line-height: 1.6;
  }

.bg-navy{background-color: var(--color-principal);}
.bg-dark-gray{background-color: var(--color-dark-gray);}

.btn-ok{
    color: var(--color-principal);
    background-color: var(--color-verde);
    border: none;
    font-weight: 900;
    flex-shrink: 0;
    text-transform: uppercase;
    border-radius: 8px;
    display: inline-block;
    width: fit-content;
}
.breadcrumb-form{
    box-sizing: content-box;
}
.breadcrumb-form ul{
    gap: 10px!important;
}
.breadcrumb-form .list-item{
    width: 40px;
    height: 16px;
    background-color: #7f7f7f;
    border-radius: 2px;
    display: inline-block;
}
.breadcrumb-form .list-item.active{
    background-color: var(--color-verde);
}

.btn-ok:hover , .btn-ok:active  {
    background-color: var(--button-verde-hover);
} 

.color-verde{
    color: var(--color-verde);
}
.font-poppins{
    font-family: 'Poppins';    
} 
 /* Estilo para el radio button con apariencia de botón */
 .opciones{
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 6px;
 }
 .opciones-card{
    display: inline-flex;
    max-width: 100%;
    gap: 2em;
    align-items: center;
    flex-direction: column;
 }
 .custom-radio {
    display: block;
    color: white;
    margin: 5px;
}
.custom-card label h4{     
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fafafa;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-gray); 
} 
.custom-card label>img{ 
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    margin:0;
    filter: grayscale(99%);
}

.custom-radio label{
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid white;
    font-weight: 800;
    padding: 10px 20px;
    width: 100%;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: inherit;
    transition: all ease 0.3s;
}
/* Estilo para el radio button oculto */
.custom-radio input[type="radio"] , .custom-card input[type="radio"]{
    display: none;
}

/* Estilo para el radio button seleccionado */
.custom-radio input[type="radio"]:checked + label {
    background-color: var(--color-verde);
    border-color: var(--color-verde);
    color: var(--color-principal);
}
 
/* Estilo para el radio button seleccionado */
.custom-card input[type="radio"]:checked + label h4{
    background-color: var(--color-verde); 
    color: var(--color-principal);
}
.custom-card input[type="radio"]:checked + label>img{
    filter: grayscale(0%);
}
.custom-radio input[type="radio"] + label svg path{
    fill:white;
}
.custom-radio input[type="radio"] + label svg rect{
    stroke: white;
}

.custom-radio input[type="radio"]:checked + label svg path{
    fill: black;
}
.custom-radio input[type="radio"]:checked + label svg rect{
    stroke: black; 
}
/* Media query para pantallas grandes (desktop) */
@media screen and (min-width: 768px) {
    .custom-radio label {
        font-size: 36px; /* Tamaño de fuente para desktop */
    }
    .opciones-card{flex-direction: row;}
}